.step {
    display: none;
}


.step.active {
    display: block;
}

.step-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-bar-inner {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    transition: width 0.3s;
}

.step-indicator {
    flex: 1;
    text-align: center;
}

